body, html {
    height: 100%;
    }
    .bg {
    background-image: url("https://amp.businessinsider.com/images/5a57df4ef421493e028b4752-1334-1001.jpg");
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

.cover {
    position: absolute;
    bottom: 1em;

}

.placeholder {
    height:50vh;
    background-color:black;
    opacity: 0;
    display: block;
  }
