body, html {
    height: 100%;
    }
    .bg {
    background-image: url("https://amp.businessinsider.com/images/5a57df4ef421493e028b4752-1334-1001.jpg");
    height: 91vh;
    background-position: center;
    background-repeat: no-repeat;
		opacity: 0.8;
    background-size: cover;
    }

/* .btn-bottom {
    position: absolute;
    bottom: .7em;
} */

#homepage-btn {
	color: white;
	margin:auto;
	display:block;
	border-color: white;
	border-width: 3px;
	border-style: solid;
	padding: 15px;
	width: 160px;
	transition: all .2s;
}

#homepage-btn:hover {
	margin:auto;
	display:block;
	background-color: white;
	color: #285d52;
	transition: all .2s;
}
