body, html {
    height: 100%;
    }
    .bg {
    background-image: url("https://amp.businessinsider.com/images/5a57df4ef421493e028b4752-1334-1001.jpg") no-repeat fixed;
    height: 91vh;
    background-position: center;
		opacity: 0.8;
		width: 100%;
		overflow-x: hidden;
		z-index: -10;
    }

.btn-bottom {
    position: absolute;
    bottom: .7em;
}
